{% block content %}
<div class="container mt-5">
	<center>
		<p><b>Friends List</b></p>
	</center>

	<br>
	<p>&emsp;&emsp;<b>Friends</b></p>
	<ul>
	  {% for friend in friends %}
		<li>
		  {{ friend.username }} - {% if friend.online_status %}Online{% else %}Offline{% endif %}
		</li>
	  {% endfor %}
	  <p>You have {{ friends|length }} friend{{ friends|length|pluralize }}.</p>
	</ul>
	
  <hr>
  <p>&emsp;&emsp;<b>Pending Friend Requests Received</b></p>
<ul>
  {% for request in received_requests %}
    <li>
      {{ request.from_user.username }} - Requested by: {{ request.requested_by.username }} on {{ request.created_at }}
      <a href="{% url 'users:accept_friend' friendship_id=request.id %}">Accept</a>
    </li>
  {% endfor %}
</ul>
  
  <hr>
  <p>&emsp;&emsp;<b>Pending Friend Requests Sent</b></p>
  <ul>
    {% for request in sent_requests %}
      <li>
        {{ request.to_user.username }} (Pending) from {{ request.created_at }}
      </li>
    {% endfor %}
  </ul>

  <hr>
  <p>&emsp;&emsp;<b>Add Friends</b></p>
  <ul>
	{% for user in available_users %}
	  <li>
		{{ user.username }}
		<a href="{% url 'users:add_friend' user_id=user.id %}">Send Friend Request</a>
	  </li>
	{% endfor %}
  </ul>
  <hr>
</div>
{% endblock %}
